.footer-main {
  background-color: #032e59;
  color: white;
  padding-block: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;
  gap: 30px;
}

.footer-content h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-links i {
  font-size: 1.75rem;
  color: white;
  transition: 0.3s;
}
