:root {
  --primary-color:#03b4c7;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.sub-heading1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-block: 15px;
}

.sub-heading2 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  margin-block: 20px;
}

.extra-heading {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-block: 20px;
}

.blue-text {
  color: var(--primary-color);
}

.hero-logo {
  position: absolute;
  top: 175px;
  left: 10%;
  z-index: 10;
  max-width: 175px;
}

.slider-image {
  height: 100vh;
}

.banner-bg {
  background-image: url("../../assets/images/banner.jpg?v=2");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.banner-cta {
  background-color: var(--primary-color);
}

.feature-card-text {
  background-color: rgb(13 202 240 / 5%);
  padding: 30px;
  height: 250px;
  margin: 0;
}

.testimonial-banner {
  background-color: #5ad7f1b2;
}

@media (max-width: 992px) {
  .heading {
    font-size: 40px;
  }

  .sub-heading1 {
    font-size: 28px;
  }

  .hero-logo {
    max-width: 125px;
  }

  .feature-card-text {
    height: auto;
  }
}
