:root {
  --primary-color:#03b4c7;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* pushes footer to bottom */
}

.heading {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.sub-heading1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.sub-heading2 {
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
}

.extra-heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-align: center;
}

.section_container{
  margin-bottom: 100px;
}

.blue-text {
  color: var(--primary-color);
}

.hero-logo {
  position: absolute;
  top: 175px;
  left: 10%;
  z-index: 10;
  max-width: 175px;
}

.slider-image {
  height: 100vh;
}

.banner-bg {
  background-image: url("../../assets/images/banner.jpg?v=2");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.banner-cta {
  background-color: var(--primary-color);
}

.feature-card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.feature-card p {
  background-color: rgb(13 202 240 / 5%);
  padding: 30px;
  height: 250px;
  margin: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.testimonial-banner {
  background-color: #5ad7f1b2;
}

@media (max-width: 992px) {
  .heading {
    font-size: 2.5rem;
  }

  .sub-heading1 {
    font-size: 1.75rem;
  }

  .hero-logo {
    max-width: 125px;
  }

  .feature-card-text {
    height: auto;
  }
}
